#weather-widget {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#forecast-widget {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	align-items: flex-start;
}

#temperature-component {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#min-max-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#min-max-container > div {
	display: flex;
	flex-direction: column;
}

#condition-component {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#condition-component p{
	text-align: center;
}

#details-widget {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	gap: 2rem;
	justify-content: space-evenly;
}

.detail-element {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#search-bar {
	background: none;
	border: 2px solid transparent;
	font-size: 1rem;
	width: 200px;
	padding: 3px 0;
	transition: border .25s ease-out;
}

#search-bar:focus {
	outline: none;
	border-bottom: 2px solid lightgrey;
	transition: border .25s ease-in;
}

#city-text {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 8px;
}

#region-text {
	font-size: 1rem;
}

#country-text {
	font-size: 1rem;
}

#current-temperature {
	font-size: 6rem;
}

#condition-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.label {
	text-transform: capitalize;
	font-size: 1rem;
	color: grey;
}

.value {
	font-size: 1.5rem;
	margin-top: 10px;
}

